<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head') %>
    <title>BlogPage</title>
</head>

<body style="background: url(https://img.freepik.com/free-vector/black-yellow-grunge-background_1409-1587.jpg);
            background-size: cover;
            background-position: center; 
            width: 100%; height:auto;">
  <%- include('./partials/nav') %>
    <div class="container mt-4 mx-4" style="display: flex; flex-wrap: wrap;">

      <% blogs.forEach(blog=> { %>
        <div class="card"
          style="width: 19rem; margin: 25px 10px; box-shadow: 0px 10px 30px rgba(97, 95, 95, 0.5); background-color:black; border-color:yellow; transition: transform 0.3s ease; display: inline-block;"
          onmouseover="this.style.transform='scale(1.1)'" onmouseout="this.style.transform='scale(1)'">
          <img src="<%= blog.coverImageURL %>" class="card-img-top " alt="blog-img">
          <div class="card-body" style="text-align: center; color: white;  opacity: 60%;">
            <h5 class="card-title">
              <%= blog.title %>
            </h5>
            <p class="card-text">
              <%= blog.body.substring(0, 100) %>....
            </p>
            <p>Date: <%= blog.createdAt.toDateString() %>
            </p>
            <a href="/blog/<%= blog._id %>" class="btn btn-primary"
              style="font-family:serif; font-size:medium;">VIEW</a>
          </div>
        </div>
        <% }) %>
        
    </div>

    <%- include('./partials/scripts') %>
</body>

</html>